@model Web_App.Models.ContactModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Dodaj Kontakt</h2>
<form asp-action="Add">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="BirthDate"></label>
        <input class="form-control" asp-for="BirthDate"/>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Category">Kategoria</label>
        <select class="form-control" asp-items="@Html.GetEnumSelectList<CategoryModel>()" 
                asp-for="Category"></select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Didaj</button>


</form>
